.card-add-details{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 320px;
    height: 120px;
    padding: 20px;
}
label{
    margin: 3px;
}
.title-input{
    width: 150px;
    padding: 5px;

}
.priority-options{
    width: 150px;
    padding: 5px;
}

.btn-add{
    padding: 8px;
    background-color: lightgreen;
    margin: 5px;
    border-radius: 10px;
}
.container-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-body{
    border: 2px solid black;
    margin : 10px;
    padding: 15px;
    background-color:lightgoldenrodyellow;
    border-radius: 15px;
}
.btn-delete{
    background-color: lightcoral;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;

}
.btn-edit{
    background-color: lightskyblue;
    padding: 8px;
    border-radius: 10px;
}
.btn-save{
        background-color: lightgreen;
    padding: 8px;
    border-radius: 10px;

}